{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Latest Harvests</h4>
                    <p class="category">Harvests have content and date limits</p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Done
                            <i class="fa fa-circle text-warning"></i> In progress
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Last harvest recovered on...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Create new harvest</h4>
                    <p class="category">Due to rate limits imposed by Twitter, harvests may take a long time. You will be notified when Harvest is done.</p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart">
                        <form action="" method="post" class="form-group">{% csrf_token %}
                          {{ form.as_p }}
                          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </form>
                    </div>
                    <div class="footer">
                        <!-- <div class="legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Click
                            <i class="fa fa-circle text-warning"></i> Click Second Time
                        </div> -->
                        <!-- <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
